<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">

	<ui:define name="content">
		<div class="ui-g ui-fluid">
			<div class="ui-g-12 ui-lg-12">
				<div class="card card-w-title">
					<h:form>
						<p:menuButton style="float:right;" value="Opzioni">
							<p:menuitem value="Elimina" icon="ui-icon-delete" />

							<p:menuitem value="Condividi" icon="ui-icon-share" />
						</p:menuButton>

						<p:panel id="panel" header="Nuova stanza">
							<p:panelGrid columns="3" layout="grid"
								styleClass="ui-panelgrid-blank form-group">
								<h:panelGroup styleClass="md-inputfield">
									<p:inputText id="name" value="#{createPersonView.person.name}"
										required="true" requiredMessage="Inserisci il nome"
										label="Nome">
										<f:validateLength minimum="2"></f:validateLength>
									</p:inputText>
									<p:outputLabel for="name" value="Nome"></p:outputLabel>
									<p:message for="name" />
								</h:panelGroup>
								<h:panelGroup styleClass="md-inputfield">
									<p:inputText id="surname"
										value="#{createPersonView.person.surname}" required="true"
										requiredMessage="Inserisci il cognome" label="Cognome">
										<f:validateLength minimum="2"></f:validateLength>
									</p:inputText>
									<p:outputLabel for="surname" value="Cognome"></p:outputLabel>
									<p:message for="surname" />
								</h:panelGroup>
								<h:panelGroup styleClass="md-inputfield">
									<p:inputText id="fiscalCode"
										value="#{createPersonView.person.fiscalCode}" required="true"
										requiredMessage="Inserisci il codice fiscale"
										validatorMessage="Il codice fiscale deve essere di 16 cifre"
										label="C.F.">
										<f:validateLength minimum="16" maximum="16"></f:validateLength>
									</p:inputText>
									<p:outputLabel for="fiscalCode" value="Codice fiscale"></p:outputLabel>
									<p:message for="fiscalCode" />
								</h:panelGroup>
								<h:panelGroup styleClass="md-inputfield">
									<p:calendar value="#{createPersonView.person.born}" id="popup">
									</p:calendar>
									<p:outputLabel for="popup" value="Data di nascita"></p:outputLabel>
								</h:panelGroup>
								<h:panelGroup styleClass="md-inputfield">
									<p:inputText id="email"
										value="#{createPersonView.person.email}" required="true"
										label="Email" validator="#{emailValidator.validate}">
									</p:inputText>
									<p:outputLabel for="email" value="Email"></p:outputLabel>
									<p:message for="email" />
								</h:panelGroup>
								<h:panelGroup styleClass="md-inputfield">
									<p:autoComplete var="car" id="mainCar"
										value="#{createPersonView.person.car}"
										itemLabel="#{car.toString()}" itemValue="#{car.pk}"
										forceSelection="true" required="true"
										completeMethod="#{createPersonView.completeTextCar}"
										converter="carConverter"
										requiredMessage="Seleziona una macchina">
									</p:autoComplete>
									<p:outputLabel for="mainCar" value="Macchina">
										<p:message for="mainCar"></p:message>
									</p:outputLabel>
								</h:panelGroup>
							</p:panelGrid>
							<div class="ui-g">
								<div class="ui-g-12">
									<p:commandButton value="Salva" update="panel"
										icon="ui-icon-check" styleClass="green-btn flat"
										style="width:auto;margin-bottom:10px; float:right;"
										action="#{createPersonView.onCompletedSave()}"></p:commandButton>
								</div>
							</div>
						</p:panel>
					</h:form>
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>