<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">

	<ui:define name="content">
		<h:form id="form">
			<div class="ui-g">
				<div class="ui-g-12">
					<div class="card card-w-title">
						<p:messages id="msgs" />
						<p:toolbar
							style="background: none !important;border: none !important;"
							id="toolBarMenu">
							<f:facet name="left">
								<p:button value="Nuova persona" icon="ui-icon-plus"
									outcome="#{dashboardView.onNewElement()}" />
							</f:facet>

							<f:facet name="right">
								<p:commandButton type="button" title="Delete"
									icon="ui-icon-delete" style="background-color: red;"
									rendered="#{dashboardView.showMenuOptions()}" update="msgs">
									<p:confirm header="Eliminazione"
										message="Sei sicuro di voler eleminare definitivamente l'elemento?"
										icon="ui-icon-warning" />
								</p:commandButton>
								<p:confirmDialog global="true" showEffect="fade"
									hideEffect="fade" width="250">
									<p:commandButton value="Si"
										styleClass="ui-confirmdialog-yes GreenButton"
										action="#{dashboardView.onRemove()}" icon="ui-icon-check" />
									<p:commandButton value="No" type="button"
										styleClass="ui-confirmdialog-no RedButton"
										icon="ui-icon-close" />
								</p:confirmDialog>
							</f:facet>
						</p:toolbar>


						<p:dataTable id="tablePeople" var="person"
							value="#{dashboardView.people}" selectionMode="single"
							reflow="true" selection="#{dashboardView.selected}"
							emptyMessage="Non è presente nessun elemento"
							filteredValue="#{dashboardView.filteredPeople}"
							rowKey="#{person.pk}" paginator="true" rows="10">
							<p:column filterBy="#{person.name}" filterMatchMode="contains"
								headerText="Nome"  sortBy="#{person.name}">
								<h:outputText value="#{person.name}" />
							</p:column>

							<p:column filterBy="#{person.surname}" filterMatchMode="contains"
								headerText="Cognome" sortBy="#{person.surname}">
								<h:outputText value="#{person.surname}" />
							</p:column>

							<p:column filterBy="#{person.fiscalCode}"
								filterMatchMode="contains" headerText="C.F."
								sortBy="#{person.fiscalCode}">
								<h:outputText value="#{person.fiscalCode}" />
							</p:column>

							<p:column filterBy="#{person.born}" filterMatchMode="contains"
								headerText="Nascita" sortBy="#{person.born}">
								<h:outputText value="#{dateToolView.formatDate(person.born)}" />
							</p:column>


							<p:column style="width:40px;text-align: center">
								<p:commandButton icon="ui-icon-edit" title="Modifica la persona"
									action="#{dashboardView.onEditElement(person)}">
								</p:commandButton>
							</p:column>
							<p:ajax event="rowDblselect"
								listener="#{dashboardView.onRowDblClickSelect}" global="false" />
							<p:ajax event="rowSelect" update=":form:toolBarMenu"
								listener="#{dashboardView.onRowSelect}">
							</p:ajax>
							<p:ajax event="rowUnselect" update=":form:toolBarMenu"
								listener="#{dashboardView.onRowUnselect}">
							</p:ajax>
						</p:dataTable>
					</div>
				</div>
			</div>
		</h:form>
	</ui:define>
</ui:composition>