<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pu="http://primefaces.org/ultima">

	<div class="topbar clearfix">
		<div class="topbar-left">
			<div class="logo"></div>
		</div>

		<div class="topbar-right">
			<a id="menu-button" href="#"> <i></i>
			</a> <a id="topbar-menu-button" href="#"> <i class="material-icons">&#xE5D4;</i>
			</a>



			<ul class="topbar-items fadeInDown animated">
				<li><a href="#"> <i class="topbar-icon material-icons">&#xE8B8;</i>
						<span class="topbar-item-name">Impostazioni</span>
				</a>
					<ul class="ultima-menu animated">
						<li role="menuitem"><a href="#"> <i
								class="material-icons">&#xE40A;</i> <span>Cambia tema</span>
						</a></li>
						<li role="menuitem"><a href="../s/companyInfo.xhtml"
							class="ripplelink"> <i class="material-icons">&#xE8B9;</i> <span>Impostazioni</span>
						</a></li>
						<li role="menuitem"><a href="../s/companyInfo.xhtml"
							class="ripplelink"> <i class="material-icons">&#xe0af;</i> <span>Dati
									azienda</span>
						</a></li>
					</ul></li>

			</ul>
		</div>
	</div>

</ui:composition>